doctype html
html
  head
    title User Management Demo w/ Vue.js
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles.css')
  body
    #usersApp
      nav.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(data-toggle='collapse' data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(v-link="{path: '/' }") Users App
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li(v-bind:class="($route.path === '/') ? 'active' : undefined")
                a(v-link="{path: '/' }") User List
              li(v-bind:class="{'active': $route.path === '/register' }")
                a(v-link="{path: '/register' }") Register
      .container
        router-view
        
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https:////maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.3/vue.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.7/vue-router.min.js')
    script(src='app.js')
    
    script#user-list-template(type='text/x-template')
      h1 User List
      table.table.table-bordered
        thead
          tr
            th Login
            th Full Name
            th Email
            th Roles
            th Edit
            th Delete
        tbody
          tr(v-for="user in $root.users")
            td {{ user.login }}
            td {{ user.fullname }}
            td {{ user.email }}
            td {{ user.roles.join(", ") }}
            td
              button.btn.btn-info.btn-xs(type="button" v-on:click="openEditPane($index)") #[i.fa.fa-edit]
            td
              button.btn.btn-danger.btn-xs(type="button" v-on:click="deleteUser($index)") #[i.fa.fa-trash]
      br
      div(v-if="editing.status")
        h2 Edit User {{users[editing.index].login}}
        form(v-on:submit.prevent="closeEditPane()")
          .row
            .col-sm-3
              label Login
              input.form-control(type="text" placeholder="Login" v-model="$root.users[editing.index].login")
            .col-sm-4
              label Full Name
              input.form-control(type="text" placeholder="Full Name" v-model="$root.users[editing.index].fullname")
            .col-sm-3
              label Email
              input.form-control(type='email' placeholder='Email' v-model="$root.users[editing.index].email")
            .col-sm-2
              label Role
              br
              input(type='checkbox' value="student" v-model="$root.users[editing.index].roles")
              span &nbsp;Student
              br
              input(type='checkbox' value="mentor" v-model="$root.users[editing.index].roles")
              span &nbsp;Mentor
              br
              input(type='checkbox' value="admin" v-model="$root.users[editing.index].roles")
              span &nbsp;Admin
          .row
            .col-xs-12
              button.btn.btn-danger(type="submit") #[i.fa.fa-times] Close Edit Pane
      hr
      .row
        .col-sm-6
          h2 Add New User
          form(v-on:submit.prevent="createUser()")
            .form-group
              label Login
              input.form-control(type="text" placeholder="Login" v-model="newUser.login")
            .form-group
              label Password
              input.form-control(type="password" placeholder="Password" v-model="newUser.password")
            .form-group
              label Full Name
              input.form-control(type="text" placeholder="Full Name" v-model="newUser.fullname")
            .form-group
              label Email
              input.form-control(type='email' placeholder='Email' v-model="newUser.email")
            .form-group
              label Role
              br
              input(type='checkbox' value="student" v-model="newUser.roles")
              span &nbsp;Student
              br
              input(type='checkbox' value="mentor" v-model="newUser.roles")
              span &nbsp;Mentor
              br
              input(type='checkbox' value="admin" v-model="newUser.roles")
              span &nbsp;Admin
            .form-group
              button.btn.btn-success(type="submit") #[i.fa.fa-plus] Add User
              
    script#user-registration-template(type='text/x-template')
      .row
        .col-sm-6
          h1 Register
          form(v-on:submit.prevent="registerUser()")
            .form-group
              label Login
              input.form-control(type="text" placeholder="Login" v-model="newRegister.login")
            .form-group
              label Password
              input.form-control(type="password" placeholder="Password" v-model="newRegister.password")
            .form-group
              label Full Name
              input.form-control(type="text" placeholder="Full Name" v-model="newRegister.fullname")
            .form-group
              label Email
              input.form-control(type='email' placeholder='Email' v-model="newRegister.email")
            .form-group
              label Role
              br
              input(type='checkbox' value="student" v-model="newRegister.roles")
              span &nbsp;Student
              br
              input(type='checkbox' value="mentor" v-model="newRegister.roles")
              span &nbsp;Mentor
              br
              input(type='checkbox' value="admin" v-model="newRegister.roles")
              span &nbsp;Admin
            .form-group
              button.btn.btn-success(type="submit") #[i.fa.fa-user] Register
