html, body
  height 100%

#usersApp
  font-family Roboto
  
  .navbar-brand
    color white
  
  thead > tr > th, tbody
    text-align center
    
  .form-control, .btn
    border-radius 0
  
  .form-control
    box-shadow none
